<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= message %></title>

    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='/stylesheets/style.css' rel="stylesheet" type="text/css">
</head>
<body>

<div class="container-x-y">
    <div class="row h-100 justify-content-center align-items-center">
        <h1><%= message %></h1>
    </div>
</div>

</body>
</html>
