<%- include layouts/header.ejs %>

<div class="container-x-y">
    <div class="row h-100 justify-content-center align-items-center">
        <h1><%= config.app.name %></h1>
    </div>
</div>

<%- include layouts/footer.ejs %>
