<%- include('layouts/header', {title:'Login Page'}) %>

<div class="container-x-y">
    <div class="row h-100 justify-content-center align-items-center">

        <div class="col-md-4">

            <% if(message_suc){ %>
                <div class="alert alert-primary text-center" role="alert"><%= message_suc %></div>
            <% } %>

            <% if(message_err){ %>
                <div class="alert alert-danger text-center" role="alert"><%= message_err %></div>
            <% } %>

            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">

                    <form method="post" action="/login" id="validate-form">

                        <div class="form-group row"><label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6"><input id="email" type="email" name="email" value="" required="required" autofocus="autofocus" class="form-control"></div>
                        </div>

                        <div class="form-group row"><label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6"><input id="password" type="password" name="password" required="required" class="form-control"></div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include layouts/footer.ejs %>
